.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 20;
  margin: auto;
  display: flex;
  height: 70vh;
  max-height: 1000px;
  min-height: 300px;
  flex-direction: column;
  justify-content: space-around;
}

.aside__title {
  display: flex;
  transform: rotate(-90deg);
  font-family: 'Domine', sans-serif;
  cursor: pointer;
}
