.resumePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 1080px;
  background: #FFEEDB;
}

.resumePage__main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.resumePage__main__image {
  width: 500px;
  height: 350px;
  margin-right: 60px;
  background-image: url("../src/assets/resume_image.jpg");
  background-size: cover;
  background-position: center;
}

.resumePage__main__info--title {
  margin: 50px 0;
  padding-left: 20px;
  border-left: 4px solid black;
}

.resumePage__main__info--title :last-child {
  font-weight: 600;
}

.resumePage__main__info--subtitle {
  display: flex;
  flex-direction: column;
  margin-right: 4px;
  gap: 10px;
  font-size: 1.25rem;
  font-weight: 500;
}

.resumePage__main__info--subtitle__detail {
  font-weight: 400;
  cursor: pointer;
}

.resumePage__sub {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  width: 880px;
  gap: 20px;
}

/* EXPERIENCE & SKILLS  */
.resumePage__sub > div {
  display: flex;
  flex-direction: column;
  width: 44%;
  min-height: 300px;
  padding: 4px;
  margin-bottom: 40px;
}

.resumePage__sub > div > h4{
  font-weight: 800;
}

.resumePage__sub__experience__article {
  margin: 4px 0 10px 4px;
  font-size: 1.25rem;
  font-weight: 500;
}

.resumePage__sub__experience__article > p:nth-child(odd) {
  margin: 14px 0 6px 0;
  font-size: 1rem;
  font-weight: 600;
}

.resumePage__sub__skills__article__container {
  display: flex;
}

.resumePage__sub__skills__article--text {
  margin: 6px 0 10px 4px;
  font-size: 1rem;
  font-weight: 500;
}

.resumePage__sub__skills__article--text > p:nth-child(odd) {
  margin-top: 8px;
  margin-bottom: 6px;
  font-size: 1.25rem;
}

.resumePage__sub__skills__article--image {
  width: 2rem;
  height: 2rem;
  margin: 1rem 4px 0 0;
}