@import "./css/reset.css";
@import "./css/header.css";
@import "./css/aside.css";
@import "./css/homePage.css";
@import "./css/resumePage.css";
html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}

/* 폰트 사이즈 */
/* 42px */
h1 {
  font-size: 2.625rem;
}
/* 36px */
h2 {
  font-size: 2.25rem;
}
/* 32px */
h3 {
  font-size: 2rem;
}
/* 24px */
h4 {
  font-size: 1.5rem;
}
/* 20px */
h5 {
  font-size: 1.25rem; 
}
/* 16px */
body {
  font-size: 1rem; 
	line-height: 1.2;
}


